In [1]:
import pandas as pd

In [3]:
# 1. Load your movies.csv and links.csv
movies = pd.read_csv('../movies.csv')       # has movieId,title,genres
links  = pd.read_csv('../links.csv')        # has movieId,imdbId,tmdbId

In [5]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [6]:
# 2. Merge in tmdbId
movies = movies.merge(links, on = 'movieId', how = 'left')

In [9]:
# export movies.csv
movies.to_csv('movies.csv')

In [4]:
import pandas as pd
train, test = pd.read_csv('/Users/poppinadityagmail.com/Developer/DataScience_Projects/Netflix_Movie_Recomender_System/training/train.csv'), pd.read_csv('/Users/poppinadityagmail.com/Developer/DataScience_Projects/Netflix_Movie_Recomender_System/training/test.csv')

In [ ]:
train = train.merge(test, on = 'movieId', how = 'left')

In [ ]:
train.to_csv('/Users/poppinadityagmail.com/Developer/DataScience_Projects/Netflix_Movie_Recomender_System/deployment/data.csv')

In [ ]:
train

In [1]:

train = pd.read_csv('/Users/poppinadityagmail.com/Developer/DataScience_Projects/Netflix_Movie_Recomender_System/deployment/data/train.csv')

In [4]:
train.columns

Index(['Unnamed: 0', 'userId', 'movieId', 'rating', 'movie_rating_mean',
       'user_rating_mean'],
      dtype='object')

In [4]:
train = train[['userId', 'movieId', 'rating', 'movie_rating_mean', 'user_rating_mean']]

In [6]:
train.to_csv('/Users/poppinadityagmail.com/Developer/DataScience_Projects/Netflix_Movie_Recomender_System/deployment/data/train_2.csv')

In [2]:
import pandas as pd

In [3]:

train = pd.read_csv('/Users/poppinadityagmail.com/Developer/DataScience_Projects/Netflix_Movie_Recomender_System/deployment/data/train.csv')

In [11]:
import pandas as pd

# Sample data (you can replace this with your CSV file)
data = train[['userId', 'movieId', 'rating', 'movie_rating_mean']]

# Create DataFrame
df = pd.DataFrame(data)

# Group by movieId and get the average of movie_rating_mean
movie_avg = df.groupby('movieId')['movie_rating_mean'].mean().reset_index()

# Save to CSV
movie_avg.to_csv("movie_avg_rating.csv", index=False)

print("âœ… File saved: 'movie_avg_rating.csv'")

âœ… File saved: 'movie_avg_rating.csv'

In [12]:
data = pd.read_csv('movie_avg_rating.csv')

In [13]:
data

       movieId  movie_rating_mean
0            1           3.893708
1            2           3.251527
2            3           3.142028
3            4           2.853547
4            5           3.058434
...        ...                ...
36718   186367           3.562500
36719   186385           0.500000
36720   186457           2.500000
36721   186495           2.807692
36722   186549           3.333333

[36723 rows x 2 columns]